<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studylink.khu_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/NoTitleBar" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignUpFinalActivity" />
        <activity android:name=".IdSearchActivity" />
        <activity android:name=".PasswordSearchActivity" />
        <activity android:name=".PasswordFinActivity" />
        <activity android:name=".IdFinActivity" />
        <activity android:name=".PasswordResetActivity" />
        <activity android:name=".PasswordResetFinActivity" />
        <activity android:name=".AccountSetActivity" />
        <activity android:name=".AccountFinActivity" />
        <activity android:name=".TimelineActivity" />
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".MainDetailActivity" />
        <activity android:name=".StudydetailActivity" />
        <activity android:name=".AbsentActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".MakeStudyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MakeStudyFinActivity" >

        </activity>

        <activity android:name=".StudySearchActivity" />

        <activity android:name=".StudySearchingActivity" />
        <activity android:name=".absent_registrate" />
        <activity android:name=".Timeline_writing" />
        <activity android:name=".VoteMain" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".Mypage_main"></activity>
    </application>

</manifest>